.App {
  margin: auto;
  padding: 20px 0px;
}
footer {
  text-align: center;
  color: rgb(127, 127, 127);
  margin-top: 30px;
}

footer a {
  color: rgb(66, 66, 66);
}

.Container {
  background: url("./images/bkday.png") fixed center center;
  margin: 0px auto;
  border-radius: 10px;
  width: 1200px;
  height: 700px;

  /* background-size: 100%; */
}
